.main{
    height: 300px;
    width: 90%;
    background-color: white;
    border-radius: 1100px;
    position: relative;
    top: 200px;
   
}
.click{
    height: 50px;
    width: 20%;
    color: white;
    background-color: green;
    border-radius: 60px;
    position: relative;
    top: 100px;
}